@import url('https://fonts.googleapis.com/css?family=Roboto:700');
/* THIS IS NOT MY OWN CODE, please use discretion, I only changed the code to my liking... */
body {
  margin:0px;
  font-family:'Roboto';
  text-align:center;
  background-color: #999;
  animation: pulse 5s infinite;
}

#container {
  text-transform: uppercase;
  font-size:36px;
  font-weight:bold;
  padding-top:200px;  
  position:fixed;
  width:100%;
  bottom:45%;
  display:block;
  margin: 10px;
  /*animation: charpulse 5s infinite; */
}

#flip {
  height: 60px;
  overflow:hidden;
}

#flip > div > div {
  color:#fff;
  padding:4px 12px;
  height:45px;
  margin-bottom:45px;
  display:inline-block;
  border-radius: 10px;
}

#flip div:first-child {
  animation: show 5s linear infinite;
}

#flip div div {
  background:#000000;
}
#flip div:first-child div {
  background:#1EBFA3;
}
#flip div:last-child div {
  background:#4846DB;
}


@keyframes pulse {
  0% {
    background-color: #000000;
  }
  100% {
    background-color: white;
  }
}

@keyframes charpulse {
  0%{
    background-color: #FFFFFF;
  }
  100%{
    background-color: #000000;
  }
}

@keyframes show {
  0% {margin-top:-270px;}
  5% {margin-top:-180px;}
  33% {margin-top:-180px;}
  38% {margin-top:-90px;}
  66% {margin-top:-90px;}
  71% {margin-top:0px;}
  99.99% {margin-top:0px;}
  100% {margin-top:-270px;}
}

p {
  position:fixed;
  width:100%;
  bottom:30px;
  font-size:12px;
  color:#999;
  margin-top:200px;
}

div:hover {
   color: black;
}
div {
 color: grey;
 -webkit-transition: color 0.2s ease-out;
 -moz-transition: color 0.2s ease-out;
 -o-transition: color 0.2s ease-out;
 -ms-transition: color 0.2s ease-out;
 transition: color 0.2s ease-out;
 }
